body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #playerForm {
    margin-bottom: 20px;
  }
  
  .playerPropsField {
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  